<p id="notice"><%= notice %></p>
 <div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-6">
  

<h1>Top Questions</h1>
<%= current_user.email%>
<%= link_to 'Add Question', new_question_path, class:'btn btn-info ques' %>
<table>


  <tbody>
    <% @questions.each do |question| %>
      <tr>

        <td><h3><%= link_to  question.title, question, class: 'bg-light text-primary' %><h3></td>

        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<br>


<div class="col-sm-3"></div>
</div> 


