<p id="notice"><%= notice %></p>
 <div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-6">
  

<h1>Top Questions</h1>
<%= link_to 'Add Question', new_question_path, class:'btn btn-info ques' %>
<table>


  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td><%= question.body %></td>
        <td><%= question.answered %></td>
        <td><%= question.user_id %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<br>


<div class="col-sm-3"></div>
</div> 
