<div class="col-xs-3"></div>
<div class="col-xs-9">
    <div class="title">
        <p><h2><%= @question.title %></h2></p>
    </div>
    <hr>
</div>
<div class="col-xs-3"></div>

<div class="col-xs-6">
    <%=link_to like_question_path(@question.id), class: 'like', method: :put do %>
        <%= image_tag("like.png", :alt => "Like", height: 20, width: 20) %><br>                                    
    <%end%>
    <span class="badge"><%= (@question.get_upvotes.size-@question.get_downvotes.size) %></span><br>

    <%=link_to unlike_question_path(@question), class: 'like', method: :put do %>
        <%= image_tag("dislike.png", :alt => "Like", height: 20, width: 20) %>                     
    <%end%>
    
    <div class="title">
        <div class="title-body">
            <h4><%= @question.body %></h4></p>
        </div>

        <%if user_signed_in?%>
            <% if current_user.id == @question.user_id%>
                <%= link_to 'Edit', edit_question_path(@question), class:'btn btn-outline-light' %>
                <%= link_to 'Back', questions_path ,class: 'btn btn-outline-light'%><br>
                <%= link_to 'Delete', @question, method: :delete, data: {confirm: "Are you sure"} ,class: 'btn btn-outline-light'%><br>
            <%end%>
        <%end%>
        <%= render  "shared/index" %>
    </div>
</div>

<div class="col-xs-2"></div>
