<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @questiontag.question_id %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @questiontag.tag_id %>
</p>

<%= link_to 'Edit', edit_questiontag_path(@questiontag) %> |
<%= link_to 'Back', questiontags_path %>
